.about {
  background-color: rgb(210, 210, 210);
  height: 27rem;
  width: 70%;
  border: 3px solid #000;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.about_area h2{
  color: #fff;
}


#text_about {
  margin: 2rem;
  font-size: 1.3rem;
}

.about_tec {
  background-color: rgb(210, 210, 210);
  height: 35rem;
  width: 70%;
  border: 3px solid #000;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.about_tec h4 {
  font-family: "thin";
  color: #646464;
  margin-top: 1rem;
  font-weight: bold;
}

#area_tec {
  text-align: left;
  font-family: "thin";
  margin: 2rem;
  font-size: 1.2rem;
  display: flex;
}

#area_tec img {
  height: 5rem;
  width: 5rem;
  margin-right: 10px;
}

#area_tec img:hover {
  transform: scale(1.1);
  transition: all 0.8s;
}

#area_versioning img {
  height: 5rem;
  width: 5rem;
  margin-right: 10px;
}

#area_versioning img:hover {
  transform: scale(1.1);
  transition: all 0.8s;
}

@media (min-width: 375px) and (max-width: 708px) {
  .about {
    height: 31rem;
    width: 100%;
  }

  .about_area {
    margin-top: 0rem;
  }

  .about_area h2{
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  #text_about {
    margin: 0.6rem;
    font-size: 1.1rem;
  }

  #area_tec {
    margin: 0rem;
  }

  .about_tec {
    height: 18rem;
    width: 100%;
  }

  .about_tec h4 {
    font-size: 1.1rem;
  }

  #area_tec img {
    height: 2.2rem;
    width: 2.2rem;
  }

  #area_versioning img {
    height: 2.2rem;
    width: 2.2rem;
  }
  
}

@media (min-width: 709px) and (max-width: 1124px){
  .about {
    height: 31rem;
    width: 100%;
  }

  .about_area {
    margin-top: 3.5rem;
  }

  .about_area h2{
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  #text_about {
    margin: 0.6rem;
    font-size: 1.5rem;
  }

  #area_tec {
    margin: 0rem;
  }

  .about_tec {
    height: 22rem;
    width: 100%;
  }

  .about_tec h4 {
    font-size: 1.5rem;
  }

  #area_tec img {
    height: 3rem;
    width: 3rem;
    margin-right: 20px;
  }

  #area_versioning img {
    height: 3rem;
    width: 3rem;
    margin-right: 20px;
  }
}
