.home {
  width: 100%;
  height: 38rem;
  display: flex;
}

.intro {
  margin-left: 1rem;
  margin-right: 1rem;
  color: #fff;
  width: 60%;
}

.intro img {
  width: 4rem;
  height: 4rem;
}

.intro h1 {
  font-family: "thin";
  font-size: 5.4rem;
  margin-top: 1rem;
  margin-left: 3rem;
  width: 40rem;
  text-align: left;
}
.intro p {
  margin-top: 2rem;
  text-align: center;
  margin-left: 3rem;
  width: 60%;
  font-size: 2rem;
}

.text {
  display: flex;
  align-items: center;
}

.text p {
  text-align: left;
  font-size: 1.4rem;
}

.profile {
  margin-top: 5rem;
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
  background-image: url("../img/eu.png");
  background-size: cover;
  background-position: center;
}

.profile p {
  margin-top: 20rem;
  font-size: 1.5rem;
  color: #fff;
}

.profile p:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

#secaoHome h1 {
  color: blueviolet;
}

@media (max-width: 767px) {
  .home {
    height: 15rem;
    display: grid;
  }

  .intro {
    margin-top: 1rem;
    margin-bottom: 0rem;
    height: 8rem;
    color: #fff;
  }

  .intro h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    margin-top: 0rem;
    margin-left: 0rem;
    width: 42rem;
    text-align: center;
  }

  .intro p {
    margin-top: 6rem;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    width: 20rem;
  }

  .profile {
    margin-top: 1rem;
    width: 10rem;
    height: 10rem;
  }

  .profile p {
    margin-top: 12rem;
    margin-left: 0rem;
    font-size: 1.2rem;
    color: #fff;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .home {
    height: 12rem;
    display: grid;
  }

  .intro {
    margin-top: 1rem;
    margin-bottom: 3rem;
    height: 8rem;
    color: #fff;
  }

  .intro h1 {
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
  }

  .intro p {
    margin-top: 7rem;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    width: 22rem;
  }

  .profile {
    margin-top: 0rem;
    width: 12rem;
    height: 12rem;
  }

  .profile p {
    margin-top: 13rem;
    margin-left: 0rem;
    font-size: 1.2rem;
    color: #fff;
  }
}

@media (min-width: 375px) and (max-width: 708px) {
  .home {
    height: 50rem;
  }

  .intro {
    margin-top: 0rem;
    margin-bottom: 0rem;
    height: 32rem;
  }

  .intro h1 {
    font-size: 2.3rem;
    width: 18rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
  }

  .intro p {
    margin-top: 0;
    margin-left: 0;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  .text {
    display: inline-block;
    align-items: center;
  }

  .text p {
    text-align: left;
    font-size: 1.4rem;
  }

  .text img {
    height: 2.5rem;
  }

  .profile {
    margin-top: 1rem;
    width: 8rem;
    height: 8rem;
  }

  .profile p {
    margin-top: 9rem;
    font-size: 1.2rem;
  }
}
