.nav {
  justify-content: right;
  margin-right: 5rem;
  font-size: 1.3rem;
}

#nav-letter:hover {
  color: blueviolet;
}

#title-nav {
  font-size: 2.2rem;
  margin-left: 5rem;
}

#title-nav span {
  color: blueviolet;
}
