.nav {
  justify-content: right;
  margin-right: 5rem;
  font-size: 1.3rem;
}

#nav-letter:hover {
  color: rgb(0, 0, 0);
}

#title-nav {
  font-size: 3rem;
  margin-left: 5rem;
  font-family: "thin";
}

#title-nav strong {
  color: rgb(0, 0, 0);
  font-family: "thin";
}
