footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  font-weight: bolder;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  /* margin: 0 auto; */
  display: inline-block;
  /* margin-left: 15rem; */
}

footer a {
  text-decoration: none;
  color: inherit;
  transition: all 0.6;
}

footer a:hover {
  color: blueviolet;
  transform: scale(1.1);
  transition: all 0.5s;
}

#footer-text {
  text-align: center;
}

.icon {
  color: blueviolet;
  font-size: 2rem;
  margin-left: 1.5rem;
}

.icon:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}
