
 footer {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #999999;
  color: #fff;
}


footer a {
  text-decoration: none;
  color: inherit;
  transition: all 0.6;
}

footer a:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.1);
  transition: all 0.5s;
}

#icons {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  margin-left: 1rem;
}

#icons a {
  margin-left: 1rem;
}

#tag-icon:hover {
  transform: scale(1.4);
  transition: all 0.5s;
}

@media (max-width: 767px) {

  #icons {
    font-size: 1.8rem;
  }

  }

  @media (min-width: 768px) and (max-width: 1023px) {
    footer {
      margin-top: 2rem;
    }
  }
