
 footer {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1f20;
  color: #fff;
}


footer a {
  text-decoration: none;
  color: inherit;
  transition: all 0.6;
}

footer a:hover {
  color: blueviolet;
  transform: scale(1.1);
  transition: all 0.5s;
}

#icons {
  color: blueviolet;
  font-size: 1.5rem;
  margin-left: 1rem;
}

#icons a {
  margin-left: 1rem;
}

#tag-icon:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
