.main {
    min-height: 83vh;
    text-align:  center;
    padding: 1em;
}

.App {
    background-color: rgba(161, 161, 161, 0.971);
}

@media (min-width: 375px) and (max-width: 708px) {
    .main {
        min-height: 75vh;
    }
}