.main {
    min-height: 83vh;
    text-align:  center;
    padding: 1em;
}

.App {
    background-color: rgba(161, 161, 161, 0.971);
}

/* @media (max-width: 767px) {
    .main {
        max-height: 73vh;
        background-color: bisque;
    }

    } */